html,body {
    width: 100%; 
    margin: 0;
    padding: 0;
  }

  body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: @gray;
    background-image: url(../assets/images/noise.png), url(../assets/images/bg.png);
    background-position: 0 0, 0 0;
    background-size: auto, 100% auto;
    background-repeat: repeat, repeat-y;
    color: @black;
    font-family: @font1;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.375;
    overflow-x: hidden;
    padding-top: 147px;
  }

  .main {
    flex: 1 0 auto;
  }

  .home {
    padding-top: 147px;

    &__listing {
      margin-bottom: 95px;
    }
  }

  .title {
    margin: 0 0 150px;
    box-sizing: border-box;
    padding: 7px 45px 9px;
    max-width: 624px;
    width: 100%;
    text-align: center;
    background-color: #1F1E1E;
    text-transform: uppercase;
    font-family: Lora;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
  }

  a {
    color: @black;
    outline: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }