.page-footer {
    box-sizing: border-box;
    padding: 60px 0 75px;
    &__container{
        .container();
    }

    &__border {
        display: flex;
        margin-bottom: 60px;
        &::before,
        &::after {
            content: '';
            flex-grow: 1;
            height: 2px;
            width: 2px;
        }
        &::before {
            margin-right: 50px;
            background: linear-gradient(270deg, #1C1B1B 0%, rgba(255, 255, 255, 0.00) 82.86%);
        }
        &::after {
            margin-left: 50px;
            background: linear-gradient(90deg, #1C1B1B 0%, rgba(255, 255, 255, 0.00) 100%);
        }
    }

    &__wrapper{
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    &__nav{
        margin-right: 30px;
        position: relative;
        padding-left: 26px;
        display: flex;
        flex-direction: column;
        gap: 22px;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 4px;
            height: 100%;
            background-color: @red;
        }
    }

    &__nav-link{
        display: block;
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
        color: @black;
        transition: color 0.2s;
        &:hover{
            @media(hover:hover){
                color: @red;
            }
        }
        &:active{
            color: @red;
        }
    }

    &__bottom{
        display: flex;
        justify-content: space-between;
    }

    &__docs{
        display: flex;
        flex-wrap: wrap;
        width: 384px;
        max-width: 384px;
    }

    &__milenials,
    &__confidence,
    &__cookies {
        color: @black;
        font-family: @font1;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }
    &__milenials {
        margin-bottom: 20px;
        width: 100%;
    }
    &__confidence,
    &__cookies {
        font-weight: 600;
    }
    &__confidence {
        margin-right: 60px;
    }
    &__social {
        display: flex;
        flex-direction: row;
    }
    &__link {
        display: block;
        transition: color 0.2s;
        &:last-child {
            margin: 0;
        }
        &:hover {
            color: @red_dark;
        }
    }
    &__tagree {
        display: inline-flex;
        justify-content: flex-end;
        align-self: flex-end;
        width: 384px;
        max-width: 384px;
    }
    &__tagree-icon {
        align-self: center;
        margin-left: 15px;
    }
}